---
import Layout from '../layaouts/Layout.astro';
import Layout from '../components/layout/Layout.astro';
import Header from '../components/layout/Header.astro';
import Footer from '../components/layout/Footer.astro';
import Hero from '../components/sections/Hero.astro';
import Services from '../components/sections/Services.astro';
import Benefits from '../components/sections/Benefits.astro';
import Contact from '../components/sections/Contact.astro';
import CTA from '../components/sections/CTA.astro';
import { SITE } from '../utils/constants';


import '../styles/global.css';
---

<Layout title={SITE.title} description={SITE.description}>
  <Header />
  <main>
    <Hero />
    <Services />
    <Benefits />
    <Contact />
    <CTA />
  </main>
  <Footer />
</Layout>